{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="site-module-name container">{% trans %}CUSTOMER{% endtrans %}</div>
        <div class="site-module-title container">Recover Password</div>
        <div class="site-module-content container">

            <div class="row justify-content-center">
                {% if msg == 'sent' %}
                    <div class="card m-2 border" style="width: 40rem; padding: 5px">
                        <div class="text-justify">
                            <h4 class="font-weight-bold text-center my-3">{% trans %}All very well{% endtrans %}!</h4>
                            <p>{% trans %}We just sent you an email with a link for you to Create a New Password. Check the Inbox of the email provided{% endtrans %}.</p>
                            <p>{% trans %}If you do not receive the email within a few minutes, check your Junk Email or Spam. Sometimes even trusted messages are sent to these folders{% endtrans %}!</p>
                            <p>* {% trans %}If you find the message in an Junk or Spam folder, look at the top of the message for an option to mark <i> This is not Spam </i> or <i> This email is reliable </i>, so that, whenever we send you messages, you will receive it in your Inbox{% endtrans %}!</p>
                        </div>
                    </div>

                {% elseif msg == 'error' %}
                    <div class="card m-2 border" style="width: 28rem; padding: 5px">
                        <div class="text-center">
                            <h5 class="font-weight-bold text-center my-3">{% trans %}Oops! There was an error sending the email{% endtrans %}.</h5>
                            <p>{% trans %}Please try again{% endtrans %}!<br>{% trans %}If the problem persists, please let us know at{% endtrans %} <a href="{{ baseUri }}/contact">{% trans %}contact channel{% endtrans %}</a>.</p>
                            <p><a href="{{ baseUri }}/customer/recover-password">{% trans %}Recover Password{% endtrans %}</a></p>
                        </div>
                    </div>

                {% else %}
                    <div class="card m-2 border" style="width: 25rem; padding: 5px">
                        <div class="text-center mb-3">{% trans %}We will send a link to the email address provided for you to create a New Password{% endtrans %}.</div>
                        <form method="POST">
                            <div class="form-group form-title text-center">
                                {% trans %}Type your e-mail{% endtrans %}
                            </div>
                            <div class="form-group">
                                <label for="email">{% trans %}Email{% endtrans %}:</label><BR>
                                <input type="text" id="email" name="email" placeholder="Email" autofocus class="form-control" required tabIndex="1">
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="mt-2"><a href="{{ baseUri }}/customer/login" class="btn btn-outline-secondary btn-sm" tabIndex="3">{% trans %}Login{% endtrans %}</a></span>
                                <input type="submit" value="{% trans %}Send{% endtrans %}" class="btn btn-primary" tabindex="2">
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
